p,
ul,
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0 auto;
  height: 100%;
  max-width: 1018px;
}

#wrapper {
  display: flex;
}

#left {
  max-width: 40%;
  background: #174180;
}

#right {
  max-width: 60%;
}

.column {
  padding: 20px;
}

.column p,
.column ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.column ul > li {
  list-style-type: none;
}

.column h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.column section {
  margin: 30px 0 30px 0;
}

#left h2 {
  color: #56ccf2;
}

#personal-header {
  width: 256px;
  margin: 0 auto;
}

#personal-header #name {
  margin: 0 auto;
  width: fit-content;
  color: #ffffff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#personal-header #job-title {
  margin: 0 auto;
  width: fit-content;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

#left p,
#left ul {
  color: #ffffff;
}

#right h2 {
  color: #174180;
}

#right h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #4f4f4f;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#right p,
#right ul {
  color: #4f4f4f;
}

#photo {
  border-radius: 50%;
}

#right .date {
  text-align: right;
  color: #4f4f4f;
  font-size: 14px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#navbar {
  height: 50px;
  background-color: #174180;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

#navbar ul > li {
  height: 100%;
  flex: 1;
}

#navbar li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: #ffffff;
  /*background-color: #174180;*/
  background-color: #002451;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar li a:hover {
  background-color: #56ccf2;
  color: #174180;
}

#skills ul {
  padding: 0;
  margin: 0;
  columns: 2;
}

#skills ul li,
#contacts ul li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#skills ul li svg {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

#contacts ul li svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#footer {
  height: 50px;
  /*background-color: #56ccf2;*/
  background-color: #002451;
}

#footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;

}

#footer ul > li svg {
  height: 30px;
  fill: #ffffff;
  transition: fill 0.3s ease;
}

#footer ul > li svg:hover {
  fill: #56ccf2;
}

#footer ul > li p {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
}
